# https://docs.readthedocs.io/en/stable/guides/specifying-dependencies.html#specifying-a-requirements-file
sphinx-gallery
sphinx_markdown_tables
# Requirements. TODO Use poetry instead of this redundant list
lark-parser
runtype
dsnparse
tqdm
prompt-toolkit
pygments
rich
arrow